body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, td, form, dd, dt, dl, hr, div, legend
  margin: 0
  padding: 0
  vertical-align: baseline
  box-sizing: border-box
  font-family: Arial, Helvetica, sans-serif
body
  background-color: #333333
  font-size: 14px
  height: 100%
  font-family: 'Open Sans'
  width: 100%
  color: #000000
html
  height: 100%

button
  padding: 0
  border: 0
  cursor: pointer  
  outline: 0
  &:hover
    opacity: 0.7  
button:disabled
  &:hover
    opacity: 1 !important

.fill_dark_grey
  background: rgb(45, 45, 45)

.fill_silver
  background: rgb(238, 238, 238)

.fill_blue
  background: #2196f3  